.form-div {
    font-family: 'Righteous', cursive;
    /* border: #950740 solid 1px; */
    width: 490px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
}

.cookingtime, .recipename {
    display: inline-block;
    box-sizing: border-box;
}

.cookingtime, .recipename {
    background-color: white;
}

.cookingtime:hover, .recipename:hover, .ingerident-input:hover {
    background-color: rgba(248, 248, 248, 0.788);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.recipename {
    font-family: 'Cairo', sans-serif;
    /* margin-left: 80px; */
    margin: 15px 0 0 10px;
    /* width: 350px; */
    width: 150px;
    border-radius: 12px;
    border: none;
    padding-left: 15px;
    font-size: 16px;
}

.cookingtime {
    font-family: 'Cairo', sans-serif;
    margin-left: 20px;
    margin-top: 15px;
    width: 120px;
    border-radius: 12px;
    border: none;
    padding-left: 8px;
    font-size: 16px;
}

.add-ingredients, .add-instructions {
    font-family: 'Cairo', sans-serif;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
    background-color: #86C232;
    border: 1px solid #61892F;
    color: #474B4F;
    margin: 10px 10px 0 10px;
}

.add-ingredients:active, .add-instructions:active {
    background-color: #86C232;
    box-shadow: 0 5px #AAAAAA;
    border: 2px solid #61892F;
    transform: translateY(4px);
}

.add-ingredients:hover, .add-instructions:hover {
    background-color: #61892F;
    color: #fff;
    border: 1px solid #86C232;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.remove-ingredient, .remove-instruction {
    font-family: 'Cairo', sans-serif;
    text-align: center;
    /* border: #160A47; */
    border-radius: 18px;
    font-size: 12px;
    background-color: #E7717D;
    border: 1px solid #950740;
    color: #6F2232;
    margin: 10px;
}

.remove-ingredient:hover, .remove-instruction:hover {
    background-color: #6F2232;
    color: #E7717D;
    border: 1px solid #C3073F;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.done, .back {
    font-family: 'Cairo', sans-serif;
    text-align: center;
    /* border: #160A47 solid 1px; */
    border-radius: 6px;
    font-size: 15px;
    background-color: #8EE4AF;
    color: #160A47;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.done:hover, .back:hover {
    background-color: #05386B;
    color: #8EE4AF;
    border: 1px solid #8EE4AF;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.done {
margin-left: 50px;
}
.done:disabled{
    background-color: #6F7DAf;
    color: #153100;
    border: none;
    box-shadow: none;
}

.back {
    margin-left: 20px;
    position: relative;
}

.form-error {
    font-family: 'Cairo', sans-serif;
    font-size: 15px;
    margin: 5px;
    color: #E7717D;
}

.ingerident-input {
    font-family: 'Cairo', sans-serif;
    width: 40%;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    font-size: 15px;
    /* padding-left: 15px; */
    margin-left: 10px;
}


/* Responsive Design */

.form-div {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.form-div::before,
.form-div::after {
    display: table;
    content: '';
}

.form-div::after {
    clear: both;
}

@media only screen and (max-width: 640px) {
    .form-div{
        width: auto;
        ;
    }
}