* {
    box-sizing: border-box;
}

body {
    /* background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("https://images.pexels.com/photos/566888/pexels-photo-566888.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
    background-color: #00CCFF;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-size: contain, cover; */
}

header {
    margin-top: 50px;
    text-align: center;
    color: #3d59528c;
}



/* Responsive design */
/* 
.home-container {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.home-containert::before,
.home-containert::after {
    display: table;
    content: '';
}

.home-containert::after {
    clear: both;
} */

/* Non Mobile Grid */
/* 
@media only screen and (max-width: 640px) {
    .col-1 {
        width: auto;
        ;
    }
} */