.welcome-note,.login-request{
    font-family: 'Bitter', serif;
    color: white;
    text-align: center;
    font-size: 24px;
}

.landing-page{
    border: white 3px solid;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    background: linear-gradient(
		rgba(0,0,0,0.6),
		rgba(0,0,0,0.6)
		);
}

.link-div{
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 80px;
    /* margin-top: 40px; */
    border: 3px solid;
    width: 230px;
    height: 40px;
    background-color: white;
}

.signup-link:link{
text-decoration: none;
}
.signup-link:visited{
    text-decoration: none;
    }
.signup-link:hover {
        text-decoration: underline;
    }