.login-form {
    font-family: 'Mali', cursive;
}

.login-button {
    font-family: 'Cairo', sans-serif;
    text-align: center;
    border: #160A47;
    border-radius: 12px;
    font-size: 20px;
    background-color: #660033;
    color: #d2d2d2;
    width: 60%;
    /* height: 20px; */
    margin-left: 10%;
}

.login-button:disabled, .login-button[disabled] {
    font-family: 'Cairo', sans-serif;
    background-color: #b8b8b8;
    color: #515151;
    font-size: 20px;
}

.display-error {
    font-size: 15px;
}

.user-textbox {
    font-family: 'Cairo', sans-serif;
    margin: 15px 0 0 10px;
    width: 200px;
    /* border-radius: 6px; */
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #5a5a5a;
    padding-left: 15px;
    font-size: 18px;
    color: #d2d2d2;
}

.user-textbox::placeholder {
    color: #d2d2d2;
}

.password-field {
    font-family: 'Cairo', sans-serif;
    margin: 15px 0 0 10px;
    width: 200px;
    /* border-radius: 6px; */
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #5a5a5a;
    padding-left: 15px;
    font-size: 18px;
    color: #d2d2d2;
}

.password-field::placeholder {
    color: #d2d2d2;
}

.incorrect-login {
    font-family: 'Cairo', sans-serif;
    color: yellow;
    margin-left: 10px;
}