.login-form{
font-family: 'Mali', cursive;
/* color: white; */
/* font-size: 16px; */
}


#username{
    height: 30px;
    margin-left: 200px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 6px;
    border: none;
}

#password{
    margin-left: 155px;
    height: 30px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 6px;
    border: none;
}

.login-button{
    /* margin-left: 80px;
    margin-top: 40px;
    border: 3px solid;
    width: 230px;
    height: 50px; */

    font-family: 'Mali', cursive;
    text-align: center;
    border: #160A47;
    border-radius: 12px;
    font-size: 10px;
    background-color: #e4ea8c;
    color: #3f6c45;
    width: 20%;
    height: 20px;
    margin:5px;

}

.form-error{
    color: red;
    font-size: 15px;
    margin-left: 20px;
    width: 0px;
}

.display-error{
font-size: 15px;
}